@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

:root {
  --background-color: #fff;
  --text-color: #000;
  --background-size: cover;
  --sidebar-background: #ffffff;

  /* regular styles */
  --spacing: 1rem;
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --porple: #6264d1;
}

#preview-frame {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: var(--background-size);
  color: var(--text-color);
  width: 70%;
  padding: var(--spacing);
  height: 100vh;
  overflow: auto;
}

.layout-contained {
  height: 76vh;
  margin: var(--spacing) auto;
  width: 80%;
  border: 1px solid #ddd;
  padding: var(--spacing);
  overflow: auto;
}

.layout-grid section {
  /* display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-auto-flow: row dense; */
  column-count: 2;
  break-inside: avoid;
  grid-gap: var(--spacing);
  margin-bottom: var(--spacing);
}

.layout-grid section article {
  margin: var(--spacing) 0 0 0;
  display: inline-block;
}

h1 {
  margin: 0;
}

img {
  max-width: 100%;
}

.sections {
  border: 2px dashed var(--porple);
  width: 100%;
  min-height: 4rem;
  position: relative;
  background: white;
}

article.sections:before,
.sidebar:before {
  content: 'post';
  position: absolute;
  background: var(--porple);
  color: white;
  font-size: .92rem;
  top: -.8rem;
  z-index: 1;
  right: 1rem;
  padding: calc(var(--spacing) / 6) calc(var(--spacing) / 2);
  border-radius: var(--spacing);
}

.sidebar:before {
  content: 'sidebar' !important;
}

.sections.header:before {
  content: 'header'
}

.sections.footer:before {
  content: 'footer'
}

article.sections {
  max-width: 540px;
  margin: var(--spacing) auto;
}

.sections:is(.header, .footer) {
  max-width: 100%;
}


.sections>div,
.postcontent>div {
  padding: var(--spacing);
}

.post-types {
  opacity: .8;
  width: 100%;
  font-size: .98rem;
  background: rgba(0, 0, 0, .08);
  border-radius: .4rem;
}

.post-types+.content {
  padding-top: 0;
}

.post-types+.content :is(.photo, iframe) {
  margin-top: var(--spacing)
}

.sections,
.sidebar {
  margin: var(--spacing) 0;
}

section {
  width: 100%;
}

.sidebar-true section {
  width: 70%;
}

.sidebar {
  width: calc(30% - var(--spacing));
  padding: var(--spacing);
  border: 2px dashed var(--porple);
  background: var(--sidebar-background);
  top: 10px;
  margin-top: 90px;
  position: sticky;

}

article {
  display: flex;
  flex-wrap: wrap;
}

.post-info {
  border-top: 1px solid #ddd;
  width: 100%;
}

.top-post-info .post-info {
  border-top: 0;
  border-bottom: 1px solid #ddd;
}

.postcontent {
  display: flex;
  width: 100%;
  padding: 0 !important;
  ;
  flex-wrap: wrap;
}

.top-post-info .postcontent {
  flex-direction: column-reverse;
}

.content {
  opacity: .8;
}

.post-info,
.like-reblogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.like-reblogs {
  flex-wrap: no-wrap;
}

.like-reblogs svg {
  width: 20px;
  margin-left: calc(var(--spacing) /2);
  height: 20px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

a {
  color: black;
}

.tarea {
  margin: 0;
  padding: calc(var(--spacing) / 2);
}

.tarea:empty:before {
  opacity: .4;
  content: 'Lorem Ipsum'
}

.bold {
  font-weight: bold;
}

main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

main.sidebar-right-true {
  flex-direction: row-reverse;
}

.App {
  display: flex;
  flex-wrap: wrap;
}

label {
  display: block;
  margin: calc(var(--spacing) / 2) 0;
  font-weight: bold;
}


code {
  display: block;
  padding: var(--spacing)
}

.bgSize {
  display: inline;
}

input {
  outline: 0;
}

input[type="text"i] {
  padding: 10px;
  display: block;
  border: 0px;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
}

input[type="color"] {
  border: none;
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

aside:not(.sidebar) {
  width: 30%;
  height: 100vh;
  overflow: auto;
  padding: var(--spacing);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, .08);
  background: #2a2b36;
  color: white;
}

.add-section {
  padding: var(--spacing);
  width: 100%;
}

.forms,
code {
  margin: 20px 0;
  padding: 18px;
  border-radius: 4px;
  border: 1px dashed rgba(255, 255, 255, .08);
  background: rgba(255, 255, 255, .04);
}

select {
  padding: calc(var(--spacing) / 2);
  width: 100%;
}

.delete-popup {
  position: absolute;
  right: var(--spacing);
  z-index: 999;
  background: white;
  border: 2px solid gray;
  margin-top: .6rem;
  border-radius: .4rem;
  padding: var(--spacing);
}

.delete-popup :where(i, b) {
  display: block;
}

.delete-popup button {
  margin-top: 1rem;
}

.delete-popup button:nth-of-type(2) {
  margin-left: var(--spacing);
}

.delete-button {
  position: absolute;
  right: var(--spacing);
  background: rgba(167, 39, 39, .08);
  border: 0;
  margin-top: .6rem;
  padding: 4px;
  border-radius: .4rem;
  color: rgba(167, 39, 39);
}

button {
  cursor: pointer;
}


.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  display: flex;
  align-items: center;
  backdrop-filter: blur(10px);
  color: white;
  z-index: 1;
  justify-content: center;
}

.modal button {
  margin: var(--spacing);
}

.modal .body {
  padding: var(--spacing);
  background: #1f1d2b;
  position: relative;
  max-width: 1000px;
  border-radius: var(--spacing)
}

.modal code {
  max-height: 50vh;
  overflow-y: auto;
}

.content {
  width: 100%;
}

.audio {
  width: 100%;
  min-width: 100%;
}


.reblog-header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--spacing);
}

.reblog-header:nth-of-type(2) {
  border-top: 1px solid rgba(var(--black), .0);
}

.avatar {
  border: 0;
  outline: 0;
  margin-right: calc(var(--spacing) / 2);
  width: 24px;
  height: 24px;
  background: #facade;
  border-radius: .4rem;
}

.reblog-header a {
  text-decoration: none;
  color: black;
}

.blue {
  background: cornflowerblue;
}

.hovercopy {
  position: absolute;
  top: 0;
  padding: calc(var(--spacing) / 2);
  opacity: 0;
  border-radius: .6rem;
  transition: .4s ease-in-out;
  right: var(--spacing);
  border: 0;
}

.code {
  position: relative;
}

.code:hover .hovercopy {
  opacity: 1
}

.copy {
  background: #fff;
  padding: calc(var(--spacing) / 2);
  border-radius: .4rem;
  color: #000;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, .04);
  position: absolute;
  width: 100px;
  margin-top: 2rem;
  margin-left: 1rem;
  text-align: center;
}

.close {
  position: absolute;
  right: 0px;
  top: 0;
  background: transparent;
  color: white;
  border: 0;
  font-size: 1.4rem;
}

button.clip {
  margin: 0 var(--spacing);
  padding: calc(var(--spacing));
  background: transparent;
  border: 0;
  font-size: 1rem;
  border-radius: .6rem;
  color: white;
  border: 2px solid var(--porple);

  box-shadow: 0 0 0 0 var(--porple);
}

button.clip:hover {
  background: var(--porple);
}

button.clip:focus {
  transition: .6s;
  box-shadow: 0 0 0 1rem transparent;

}

.clipboard {
  height: 1rem;
}

aside button {
  padding: calc(var(--spacing) / 2);
}

.post-small article {
  max-width: 400px;
}

.post-medium article {
  max-width: 540px;
}

.post-large article {
  max-width: 700px;
}

.grid-medium section {
  column-count: 3;
}

.grid-large section {
  column-count: 2;
}

:where(.grid-large, .grid-small, .grid-medium) article {
  max-width: 100% !important;
}

.flex {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.like-reblog-options,
.side-image-option {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: var(--spacing);
}

.like-reblog-options .flex,
.side-image-option .flex {
  border-radius: .6rem;
  justify-content: space-between;
  width: calc(50% - var(--spacing));
  margin: calc(var(--spacing) /2) 0;
  background: rgba(255, 255, 255, .08);
  font-size: .92rem;
  padding: calc(var(--spacing) /2);
}

.side-image-option .flex {
  width: 100%;
}

.flex.half:before {
  content: '';
  position: absolute;
  margin-left: calc((var(--spacing) /2) * -1);
  margin-top: calc((var(--spacing)) * -1);
  width: calc(100% + var(--spacing));
  border-top: 1px solid rgba(var(--white), .12);
}

.flex h4 {
  width: 100%;
}

.flex select {
  width: 50%;
}

.flex.half {
  background: transparent;
  padding: var(--spacing) 0 0 0;

}

/* radio toggles */

.select-size {
  display: flex;
  border: 1px solid rgba(var(--white), .2);
  border-radius: .6rem;
  position: relative;
  background: rgba(var(--white), .08);
  overflow: hidden;
  border-radius: .6rem;
  width: 99.999%;
}

.select-size label:first-of-type {
  border-right: 1px solid rgba(var(--white), .2);
}

.select-size label:last-of-type:not(:nth-of-type(2)) {
  border-left: 1px solid rgba(var(--white), .2);
}

.select-size input {
  display: none;
}

.select-size label {
  margin: 0;
  width: calc(33.333%);
  padding: calc(var(--spacing) /2);
  text-align: center;
  font-weight: normal;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.select-size.grids {
  width: 66%;
}

.select-size.grids label {
  width: 50%;
}

.select-size input+label span {
  z-index: 0;
  position: relative;
}

.select-size input:checked+label i {
  animation: filling .4s 1 forwards;
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: -10%;
  border-radius: 30px;
}

@keyframes filling {

  100% {
    height: 100%;
    width: 130%;
    background: var(--porple);
  }
}

/* toggle buttons */

.toggle-button {
  position: relative;
  color: transparent;
  overflow: hidden;
  border-radius: 2rem;
  width: 4rem;
  border: 0;
  display: flex;
  align-items: center;
  height: 2rem;
}

.toggle-button:before {
  content: '';
  position: absolute;
  height: 1.4rem;
  width: 1.4rem;
  transition: .4s;
  border-radius: 50%;
  background: rgba(var(--white), .4);
}

.toggle-true {
  background: rgba(var(--white), .8);
}

.toggle-false {
  background: rgba(var(--black), .4);
}

.toggle-true:before {
  background: var(--porple);
  transform: translate(calc(100% + .2rem), 0);
}

.toggle-false:before {
  transform: translate(0, 0);
}

/* Post Info Toggle Switch */

label.half,
.info-switch {
  width: 50%;
  position: relative;
}

.info-switch {
  border: 1px solid rgba(var(--white), .2);
  border-radius: .6rem;
  overflow: hidden;
}

.info-switch:before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  margin-left: 50%;
  background: var(--porple);
}

.sidebar-info-switch:before {
  margin-left: 0%;
}

.info-switch button {
  width: 50%;
  position: relative;
  background: transparent;
  color: white;
  border: 0;
  font-size: 1rem;
}

.bottom-active:before {
  animation: move-left .5s 1 forwards
}

.top-active:before {
  animation: move-right .4s 1 forwards
}

.left-active:before {
  animation: move-right .4s 1 forwards
}

.right-active:before {
  animation: move-left .5s 1 forwards
}

@keyframes move-left {

  0% {
    margin-left: 0%;
  }

  100% {
    margin-left: 50%;
  }

}

@keyframes move-right {
  0% {
    margin-left: 50%;
  }

  100% {
    margin-left: 0;
  }

}

/* dropdown */

select {
  border: 0;
  border-radius: .4rem;
  background: white;
}

.disclaimer {
  font-style: italic;
  font-size: .98rem;
  opacity: .8;
}

.disclaimer i {
  padding-right: .4rem;
}


.style-dash {
  padding: 0;
  text-align: center;
}

.dash-avatar,
.bubble-avatar {
  width: 40px;
  background: #facade;
  height: 40px;
  position: absolute;
  bottom: -20px;
  border-radius: 50%;
}

.bubble-avatar {
  position: relative;
  bottom: auto;
  margin-right: .4rem;
}

.bubble {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.bubble-desc {
  margin: var(--spacing) 0;
  border-radius: .6rem;
  width: 100%;
  border: 1px solid #ddd;
  padding: var(--spacing);
  border-top-left-radius: 0;
}

.dash-header {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  background: cornflowerblue;
  aspect-ratio: 8 / 2;
}

.style-dash h1 {
  margin-top: 20px;
}

.style-dash h1+div,
.style-dash div+div {
  padding-top: 0;
}

.style-dash :is(h1, div) {
  padding: var(--spacing);
}

.select-size {
  margin-bottom: calc(var(--spacing) * 2);
}

.open-code {
  padding: var(--spacing);
  display: block;
  width: 100%;
  border: 0;
  color: white;
  border-radius: .6rem;
  font-size: 1rem;
  border: 2px solid var(--porple);
  transition: .6s;
  background: transparent;
  box-shadow: inset 0em 0em 0 4em transparent, 0 0 0 .4em transparent;

}

.open-code:hover {
  animation: zoom .6s;
  background: var(--porple)
}

@keyframes zoom {
  0% {
    box-shadow: inset 0 0 0 0 var(--porple), 0 0 0 0 var(--porple);
  }
}


.search {
  position: relative;
  width: 100%;
  padding: var(--spacing);
  border: 1px solid rgba(var(--black), .2);
  border-radius: .6rem;
  margin: var(--spacing) 0 0 0;
}

.search:before {
  content: 'search';
  position: absolute;
  line-height: 1;
  opacity: .6;
  top: calc(var(--spacing) / 2);
}

.style-dash .search:before {
  left: var(--spacing);
}

.style-dash .search {
  border: 0;
  color: white;
  position: absolute;
  top: calc((var(--spacing) * -.5));
}

.cursor {
  margin-top: var(--spacing);
}


.extras {
  background: rgb(243, 203, 203);
  border: 0;
  margin-left: var(--spacing);
  padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);
  border-radius: .4rem;
  color: rgba(167, 39, 39);
}

[type="checkbox"] {
  height: 0;
  width: 0;
  opacity: 0;
}

[type="checkbox"]+label {
  cursor: pointer;
}

[type="checkbox"]+label span {
  display: inline-block;
  background: white;
  position: relative;
  border: 1px solid rgba(var(--white), .2);
  height: .8rem;
  box-shadow: 0 0 0 0rem var(--porple);
  width: .8rem;
  transform: scale(1.4) translate(-4px, 0);
  border-radius: .2rem;
  transition: .6s;
}

[type="checkbox"]+label span:hover {
  box-shadow: 0 0 0 .2rem var(--porple);
}

[type="checkbox"]:checked+label span {
  box-shadow: 0 0 0 .4rem transparent;
  transition: .6s;

}

[type="checkbox"]:checked+label span:before,
[type="checkbox"]:checked+label span:after {
  content: '';
  position: absolute;
  width: 2.4px;
  height: 0;
  transform-origin: 6px 6px;
  border-radius: 1rem;
  transform: rotate(-45deg) scale(1.2);
  background: var(--porple);
  margin-left: 4px;
  animation: checkleft .12s forwards;
}

[type="checkbox"]:checked+label span:after {
  animation: checkRight .2s forwards;
  transform: rotate(220deg) scale(1.2);
  margin-top: -5.4px;
  animation-delay: .12s;
  margin-left: -2px;

}

@keyframes checkleft {
  100% {
    height: 6px;
  }
}


@keyframes checkRight {
  100% {
    height: 10px;
  }
}


#daynight-toggle {
  cursor:pointer;
  position:fixed;
  top:var(--spacing);
  left:var(--spacing);
  z-index:2;
  height:2rem;
  width:2rem;
  border-radius:50%;
  background:white;
  display:flex;
  border:var(--border-width) solid var(--borders);
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
}

#daynight-toggle:before {
  content:'☀';
}

#daynight-toggle.night-mode-toggle:before {
content:'';
width:1rem;
height:1rem;
transform:translate(-.32rem, -.32rem);
border-radius: 50%;
box-shadow: .32rem .32rem 0 0 black;
}